{% extends 'base.html.twig' %}

{% block title %}{{parent()}}cantine{% endblock %}

{% block body %}
<h1 class="text-center text-secondary mt-4 pt-4 display-1 fw-bold"> RÉSERVATION DE CANTINE</h1>
{% endblock %}