{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}
<h1 class="text-center text-light mt-4 pt-4 display-1 fw-bold"> BIENVENUE SUR LE SITE DE LA VILLE D'ARRAS</h1>
<p></p>
<p></p>
<div class="container-fluid">
    <div class="row">
        <div class="container text-center">
            <img src="/Site1/templates/base/plan.jpg" width="750" height="450">
        </div>
    </div>
    <br>
    </br>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 bg-white p-4 m-0">
            <p>Arras, est une commune française située dans le département du Pas-de-Calais en région Hauts-de-France.

                Capitale historique et administrative du département du Pas-de-Calais, au cœur de la zone économique agroalimentaire la plus étendue au nord de Paris, chef-lieu du Pas-de-Calais, Arras n'est pourtant, avec ses 41 000 habitants, que la deuxième ville la plus peuplée du département après CalaisNote 2. Elle est le siège de la communauté urbaine d'Arras, qui regroupe 108 000 habitants sur 46 communes. Avec les villes de l'ancien bassin minier situées un peu plus au nord, elle est directement sous l'influence de l'« aire métropolitaine de Lille », ensemble métropolitain de près de 3,8 millions d'habitants dont le centre, la ville de Lille, ne se trouve qu'à 45 km. </p>
        </div>
    </div>
</div>

{% endblock %}