{% extends 'base.html.twig' %}

{% block title %}{{parent()}}loisirs{% endblock %}

{% block body %}
<h1 class=" text-center text-white mt-4 pt-4 display-1 fw-bold">LES DIFFÉRENTS LOISIRS À ARRAS</h1>
<h3 class="text-center text-white mt-5 pt-5 m-5 display-3 fw-bold">FOOTBALL:</h3>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 bg-white p-4 m-0">
        <div>
            <h3 class="text-center text-black mt-1 pt-1 m-1 display-3 fw-bold">ARRAS FA </h3>
            <p>L' Arras Football Association est une équipe française de football fondée en 1901. Elle est basée à Arras , en France, et joue dans la Régional 1 , le sixième niveau du système de la ligue française de football . Il évolue au stade Degouve-Brabant d' Arras . De 1901 à 1997, le club s'appelait le RC Arras . En 2013, le club a fait le neuvième tour de la Coupe de France et a perdu contre le Paris Saint-Germain 4-3.</p>
        </div>
    </div>
    <p></p>
    <div class="container text-center">
        <img src="/Site1/templates/base/arras.jpg" width="750" height="450">
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 bg-white p-4 m-0">
        <div>
            <h3 class="text-center text-danger mt-1 pt-1 m-1 display-3 fw-bold">ARRAS FA FÉMININ </h3>
            <p>Arras Football Club Féminin a été fondé en 2001 en tant que département féminin d' Arras FA .En 2002, Arras remporte son championnat régional et est promu en Division 3 Féminine. En 2009–10, Arras a remporté le titre de Division 3 Groupe C et a été promu en Division 2 Féminine. En 2011, le club s'est rebaptisé Arras Football Club Féminin (Arras FCF), après être devenu une équipe distincte d'Arras FA.</p>
            <p>En 2019, un accord entre Arras et le Racing Club de Lens a été conclu pour permettre à Arras de s'entraîner une fois par semaine au stade Lens de La Gaillette. En 2020, le club est repris par le Racing Club de Lens, dans le cadre d'un accord de fusion/adoption. L'équipe a pris le nom de Lens, et a conservé l'insigne d'Arras sur les maillots des joueurs à côté de l'insigne Lens. L'équipe s'entraîne maintenant la plupart du temps à La Gaillette, bien que parfois à Arras, et les matchs sont joués dans les deux endroits. Dans le cadre du mouvement, Sarah M'Barek a été annoncée comme le nouveau directeur de l'équipe. Lens a annoncé que la plupart des joueurs d'Arras seraient conservés après le rachat, et le club a signé huit signatures lors du mercato de l'été 2020. Avant l'accord, Lens était l'un des six clubs masculins professionnels sans équipe féminine.</p>
        </div>
    </div>
    <p></p>
    <div class="container text-center">
        <img src=" /Site1/templates/base/feminin.jpg" class="image-center" width="750" height="450">
    </div>
</div>
<h3 class="text-center text-white mt-1 pt-5 m-1 display-3 fw-bold">HANDBALL:</h3>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 bg-white p-4 m-0">
        <div>
            <h3 class="text-center text-warning mt-1 pt-1 m-1 display-3 fw-bold">RC ARRAS HB</h3>
            <p>le Racing Club d’Arras Handball est un club de handball évoluant en national 3 poule 4.</p>
        </div>
    </div>
    <p></p>
    <div class="container text-center">
        <img src="/Site1/templates/base/arrash.jpg" width="750" height="450">
    </div>
</div>
</div>
<h3 class="text-center text-white mt-1 pt-5 m-1 display-3 fw-bold">BADMINTON:</h3>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 bg-white p-4 m-0">
        <div>
            <h3 class="text-center text-info mt-1 pt-1 m-1 display-3 fw-bold">BCA</h3>
        </div>
        <p> Depuis la saison 2017-2018, le Badminton Club d'Arras a hissé son équipe première jusqu'au top 12, dans lequel se trouvent les douze meilleures équipes de France de cette discipline. Le club tient dans ses rangs , l'internationale française Émilie Lefel qui a été triple championne de France en double dames.</p>
    </div>
    <p></p>
    <div class="container text-center">
        <img src="/Site1/templates/base/badminton.jpg" width="750" height="450">
    </div>
</div>
</div> {%endblock %}