{% extends 'base.html.twig' %}

{% block title %}{{parent()}}monuments{% endblock %}

{% block body %}
<h1 class="text-center text-white mt-4 pt-4 display-1 fw-bold">LES MONUMENTS A ARRAS </h1>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 bg-white p-4 m-0">
        <div>
            <h3 class=" text-center text mt-1 pt-1 m-1 display-3 fw-bold">LE BEFFROI</h3>
            <p></p>
            <p>Le beffroi d'Arras est un ouvrage de charpente de la commune d'Arras, dans le département français du Pas-de-Calais. Tout comme l'hôtel de ville auquel il est accolé, il s'agit d'un monument historique.</p>
            <p>Commencés durant le xve siècle, les travaux prennent fin en 1554, sur les plans de Jacques le Caron. Construit dans le style gothique flamboyant, le beffroi est détruit puis reconstruit à deux reprises de manière identique. La première fois en 1833, car il menaçait de s'écrouler et la seconde fois, en 1914, à la suite des bombardements allemands de la Première Guerre mondiale.</p>
            <p>Au Moyen Âge, le beffroi avait des fonctions militaires : la cloche sonnait l'ouverture et la fermeture des portes de la ville et le bâtiment servait de prison. De nos jours, il fait partie du patrimoine d'Arras. Il est classé monuments historiques depuis 1840 et, depuis 2005, fait partie du patrimoine mondial de l'Unesco en étant compris dans les beffrois de Belgique et de France.</p>
        </div>
    </div>
    <p></p>
    <div class="container text-center">
        <img src=" /Site1/templates/base/beffroi.jpg" width="750" height="450">
    </div>
</div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 bg-white p-4 m-0">
        <div>
            <h3 class="text-center text mt-1 pt-1 m-1 display-3 fw-bold">LA CATHÉDRALE</h3>
            <p>La cathédrale d'Arras ( français : Cathédrale Notre-Dame-et-Saint-Vaast d'Arras ) est l' église catholique romaine de la ville d' Arras , en France . La cathédrale est le siège des évêques d'Arras .

                La cathédrale originale d'Arras, construite entre 1030 et 1396, était l'une des plus belles structures gothiques du nord de la France, jusqu'à ce qu'elle soit détruite à la Révolution française . [1] La cathédrale fut le lieu de repos de Louis de Bourbon, Légitimé de France , fils légitimé de Louis XIV et de Louise de La Vallière .</p>
            <p>C'est un très grand bâtiment, dont l'érection a été commencée en 1755 d'après les plans de Pierre Contant d'Ivry , l'architecte qui a ensuite créé des plans pour l' église de La Madeleine à Paris.</p>
        </div>
    </div>
    <p></p>
    <div class="container text-center">
        <img src=" /Site1/templates/base/arras3.jpg" width="750" height="450">
    </div>
    <p></p>
    <div class="container text-center">
        <img src="/Site1/templates/base/cathe.jpg" width="750" height="450">
    </div>
</div>
<p></p>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 bg-white p-4 m-0">
        <div>
            <h3 class="text-center text mt-1 pt-1 m-1 display-3 fw-bold">L'ABBAYE SAINT-VAAST</h3>
            <p>L'abbaye a été fondée en 667. Saint Vedast , ou Vaast (vers 453-540) fut le premier évêque d'Arras et plus tard également évêque de Cambrai , et fut enterré dans l'ancienne cathédrale d'Arras. En 667, saint Aubert, septième évêque d'Arras, entreprit la construction d'une abbaye pour les moines bénédictins à l'emplacement d'une petite chapelle que saint Vedast avait fait élever en l'honneur de saint Pierre . Les reliques de Vedast furent transférées dans la nouvelle abbaye, complétée par le successeur d'Auburt et généreusement dotée par le roi Theuderic III , qui, avec sa femme, y fut ensuite enterré.</p>
            <p>L'abbaye de St Vaast était d'une grande importance parmi les monastères des Pays-Bas. Elle était exempte de juridiction épiscopale et conserva son indépendance jusqu'en 1778, date à laquelle elle fut agrégée à la Congrégation de Cluny .</p>
            <p>A la Révolution française, il fut supprimé et les bâtiments monastiques furent d'abord utilisés comme hôpital puis comme caserne. En 1838, les locaux sont achetés par la ville ; une partie a été utilisée comme musée et archives, et le reste comme résidence de l'évêque. L'église abbatiale, qui avait été profanée et partiellement détruite, fut reconstruite et consacrée en 1833 et sert aujourd'hui de cathédrale d'Arras , en remplacement de l'ancienne cathédrale gothique détruite à la Révolution. Les bâtiments abbatiaux abritent aujourd'hui le musée des beaux-arts d'Arras .</p>
        </div>
    </div>
    <p></p>
    <div class="container text-center">
        <img src=" /Site1/templates/base/abbaye.jpg" width="750" height="450">
    </div>
    <p></p>
    <div class="container text-center">
        <img src="/Site1/templates/base/abbaye2.jpg" width="750" height="450">
    </div>
</div>
</div>
{% endblock %}